html {
	background-color:#e4cceb;
	}

body {
	font-family: 'AlexBrush' src:
	url('../Piano-Website/fonts/AlexBrush-Regular.ttf') format ('ttf');
	,serif;
	font-weight: normal;
	font-style: normal;
	font-size: 87%;
	text-align: justify;
}


/*Intro Section */ 
header { 
	background-image: url(../Piano-Website/notes.png); 
	background-repeat: no-repeat;
	background-position: right;
	background-size: 30%;
	padding-left: 20px;
}

@media screen and (max-width: 480px) {
	header {
		background-image: none;
	}
	h1 {
		font-size: 150%;
	}
}

header h1{
	padding-top: 20px;
	color: purple;	
	margin: 0;
	font-weight: lighter;
}


/*site nav*/
.site-nav {
	padding-top: 30px;
}
.site-nav a { 
	display: block;
	color: purple;
	text-decoration: none;
	padding: 10px 30px;
	border: 2px solid purple;
	border-bottom: none;
	transition-property: color, background-color;
	transition-duration: 1s;
}


.site-nav a:hover {
	background-color:#e4cceb ;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

/* li targets the list element */ 
.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

/*Media queries for site nav */ 

@media screen and (max-width: 700px) {
	.site-nav li {
		width: 50%;
		margin-right: 0;
	}

	.site-nav a {
		padding:15px 0;
		margin-right:5px;
		margin-bottom: 5px;
		text-align: center;
		border:2px solid purple;
	}
}
	
@media screen and (max-width: 480px) {
	.site-nav li {
		width: 100%;
		margin-right: 40px;
	}
}

/* Toggle Button for Menu */ 
.toggle-btn-1 {
	color: purple;
	text-decoration: underline;
	padding-top:5px;
	padding-bottom: 5px;

}

.toggle-btn-1:hover { 
	text-decoration: none; 
}

.toggle-btn-1 {
	display: none;
}

/*Toogle Button for Read-More */ 
.toggle-btn {
	color: purple;
	display: none;
}
/*Reveal and Hide Styles*/
.read-more{
	text-decoration: underline;
	color: purple;
}

.read-more:hover {
	text-decoration: none;
}



/*toggle button photos*/ 

.toggle-btn-photos {
	color:purple;
	text-decoration: underline;
	display: none; 
}

/* changed display to block, was origninally at none: */ 

.toggle-btn-photos:hover {
	text-decoration: none;
}




/* Mediau Query for Toggle Button */ 

@media screen and (min-width: 700px) {
	.toggle-btn-visible {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.toggle-btn-visible {
	display:block;
	}


.toggle-target-hidden {
	display: none;
	}

.toggle-target-expanded {
	display: block;
	}

}



	 
@media screen and (max-width: 480px) {
	.toggle-btn-photos-visible {
		display:block;
	}
	.toggle-target-photos-hidden {
	display: none;
	}

	.toggle-target-photos-expanded {
	display: block;
	}

	}

@media screen and (min-width: 481px) {
	.toggle-btn-photos-visible {
		display: none;
	}


	}



/*end reveal and hide styles*/

/* a references the link element*/ 


/*End of Intro Section */
h1 {color: purple;}

.container { 
	max-width: 95%;
	margin: auto;
	background-color: #FFF;
	box-sizing: border-box;
	padding-top: 20px;
	
} 

@media screen and (min-width: 1300px) {
	.container{
		font-size: 17px;
	}

}

@media screen and (min-width: 980px) {
	.container {
		font-size: 17px;
	
	}

}

/*Content Area*/ 

h2 {
	font-weight: normal;
	text-align: center;
	color: purple;
	padding-top: 5px;	
}



.content-area { 
	width: auto;
	border-top: 2px solid purple; 
	border-bottom: 2px solid purple;
	background-image: url(../Piano-Website/piano-tiles.png);
	background-repeat: repeat-x;
	background-size: 60px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	
}



.main-area {
	max-width:60%;
	float:right;
	margin:auto;
	box-sizing: border-box;

	}

.sidebar {
	float:left;
	width:30%;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;

	
}

/*Media queries for Content area, main area, sidebar */ 
@media screen and (min-width: 701px) {
	.thumbnails {
		display: none;
	}
}


@media screen and (max-width: 900px) {
	.main-area{
		float:none; 
		max-width: 100%;

		
		}
	.sidebar {
		float:none;
		width: 100%;
		padding-right: 0;
		
	}
	.cycle-slideshow {
		display: none;
	}
	.thumbnails {
		margin:auto;
		display: block;
	}
}

@media screen and (max-width: 480px) {
	.cycle-slideshow {
		display: none;

	}
	.thumbnails img { 
	max-width: 80%; 
	display: none;}
}


img {
	max-width:120%;
	float:left;
	box-sizing: border-box;
	height: auto;
}

/*Slide show info*/ 

.cycle-slideshow { 
	margin-bottom: 30px;
	box-sizing: border-box;
	width: 100%;

 }

.slide { 
	position: relative; 
	width: 100%;
	height: auto;
	padding-top:15px;
}

.slide img {
	display:block;
}


.slide-text {
	bottom:0;
	position: absolute;
	width: 120%;
	bottom:0;
	padding:20px;
	padding-top:5px;
	color:white;
	background-color: rgba(0, 0, 0, .7);
	box-sizing: border-box;

}

.cycle-prev, .cycle-next {
	position: absolute;
	top:30%;
	background-color: rgba(0, 0, 0, .35);
	color:#FFF;
	padding-bottom: 1px 10px;
	display: block;
	cursor: pointer;
	font-size: 130%; 
	z-index: 1000;
	opacity: 0;
	transition: .5s;
	max-width: -50%;
}

.cycle-next {  
right:0;
top:30%;}

.cycle-slideshow:hover .cycle-prev,
.cycle-slideshow:hover .cycle-next {
	opacity: 1;
}




@media screen and (max-width: 767px) {
	.slide-text {
		position: static;
		background-color: #000;
	


	}
}

.cycle-pager {
	position: absolute;
	top: 10px;
	z-index: 1003;
	width: 90%;
	text-align: center;}

.cycle-pager .cycle-pager-active { 
	background-color: #e4cceb; }

.cycle-pager span {
	text-indent: -9999px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: black;
	margin: 0 4px;
	cursor: pointer;
}

/*thumbnail section */ 
.thumbnails {
	margin-right: 15px;
	padding:5px;
	
}

.thumbnails a{
	float: left;
	width: 50%;
	box-sizing: border-box;
}

.thumbnails img {
	display: block;
	transition: all .2s; 
	padding-right: 5px;
	margin-right: none;
	box-sizing: border-box;
	width: 100%;

	
}

.thumbnails:hover img{
	opacity: .6;
	transform: scale(.92);
}

.thumbnails img:hover {
	opacity:1;
	transform: rotate(2deg);
	box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}


.center {
	display: block;

}
@media screen and (max-width: 480px) {
	.thumbnails img {
		max-width: auto;
		height: auto;
	}
}






footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;}


.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.row {
	zoom: 1;
}