html {
	background-color:#e4cceb;
	}

body {
	font-family: 'AlexBrush' src:
	url('fonts/AlexBrush-Regular.ttf') format ('ttf');
	,serif;
	font-weight: normal;
	font-style: normal;
	font-size: 87%;
	text-align: justify;
}


/*Intro Section */ 
header { 
	background-image: url(notes.png); 
	background-repeat: no-repeat;
	background-position: right;
	background-size: 60%;
	padding-left: 20px;
}



header h1{
	padding-top: 20px;
	color: purple;	
	margin: 0;
	font-weight: normal;
}


/*site nav*/
.site-nav {
	padding-top: 30px;
}
.site-nav a { 
	display: block;
	color: purple;
	text-decoration: none;
	padding: 10px 30px;
	border: 2px solid purple;
	border-bottom: none;
	transition-property: color, background-color;
	transition-duration: 1s;
}


.site-nav a:hover {
	background-color:#e4cceb ;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

/* li targets the list element */ 
.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

@media screen and (max-width: 700px) {
	.site-nav li {
		width: 50%;
		margin-right: 0;
	}
	.site-nav a {
		padding: 15px 0;
		margin-right: 5px;
		margin-bottom: 5px;
		text-align: center;
		border: 2px solid purple;
	}
}

@media screen and (max-width: 480px) {
	.site-nav li {
		width: 50%;
	}
}



.toggle-btn {
	color: purple;
}
/*Reveal and Hide Styles*/
.read-more{
	text-decoration: underline;
	color: blue;
}

.read-more:hover {
	text-decoration: none;
}


.toggle-btn {
	display: none;
}

@media screen and (max-width: 767px) {
	.toggle-btn-visible {
	display:block;
	}

.toggle-target-hidden {
	display: none;
	}

.toggle-target-expanded {
	display: block;
	}
}
/*end reveal and hide styles*/

/* a references the link element*/ 


/*End of Intro Section */
h1 {color: purple;}

.container { 
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	box-sizing: border-box;
	padding-top: 20px;
	

} 

@media screen and (min-width: 1300px) {
	.container {
		max-width: auto;
		font-size: 17px;

	}
}
@media screen and (min-width: 1200px) {
	.container {
		font-size: 17px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		max-width: auto;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: auto;
		margin: 0px;
		padding: auto;
	}
}

@media screen and (max-width: 750px) {
	.container { 
		width: auto; 
		margin: 0;}
}

@media screen and (max-width: 480px) {
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
}
@media screen and (max-width: 320px) {
	.container {
		width: auto;
		padding: auto;
		margin: auto;
	}
}

/*About My Studio Section*/

h2 {
	font-weight: normal;
	text-align: center;
	color: purple;
	padding-top: 5px;	
}


.content-area { 
	border-top: 2px solid purple;
	border-bottom: 2px solid purple; 
	background-image: url(piano-tiles.png);
	background-repeat: repeat-x;
	background-size: 60px;
	padding-bottom: 20px;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
}


@media screen and (max-width: 750px) {
	.content-area { 
	width: auto;
	padding: 0;
	margin: 0; 
	}
}
@media screen and (max-width: 480px) {
	.content-area {
		padding-top: 20px;
	}
}

@media screen and (max-width: 320px) {
	.content-area { 
	padding-top:20px;
	width: auto;
	margin: 0; }
}

.main-area { 
	float:left;
	width: 70%;
	margin: 20px;
	 }



body li {
	text-align: center;
	list-style: none;
	color: #a982c4;
}

@media screen and (max-width: 768px){ 
	.main-area { 
		width:90%;
		float: none;
		margin: 0px;
		padding: 0px; }

	.sidebar {
		width: 100%;
		float: none;
		margin: 0;
		padding: 0;
	}

		 }
@media screen and (max-width: 750px) {
	.main-area {
		width: 100%;
		float: none;
		margin: 0;
		padding: 0;
	}

	.sidebar {
		width: 100%;
		float: none;
		margin: 0;
		padding: 0;

	}
}

@media screen and (max-width:700px) {
	.main-area {
		width: auto;
		float:none;
		
	}
	.main-area {
		padding: 0;
	}
	.sidebar {
		width: 70%;
		padding: 0px;
		float: none;
	}
}

@media screen and (max-width: 640px) {
	.main-area {
		width:auto;
		float:none;
		padding: none;
	}
	.sidebar {
		width: 70%;
		float: none;
		padding: 0px;
	}
}
@media screen and (max-width: 320px){
	.main-area, 
	.sidebar {
		width: auto;
		margin: none;
		padding: none;
		float: none;
	}
}

h3 {
	color:red;
}

.sidebar {
	float: right;
	max-width: 20%;
	background-color: lightgrey; 
	padding-left: 10px;
	padding-right:10px;
	margin-right: 20px;
	margin-left: 20px;

}



/*End of Studio Section*/ 
footer {
	text-align: center;
	color: purple;
}
.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.row {
	zoom: 1;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

